/*------------------------------------*\
    $RESET
\*------------------------------------*/
  
  
  body {
    margin: 0 auto;
    padding: 1em 0;
  }


  main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
  }

/*------------------------------------*\
    $MENU
\*------------------------------------*/

  .principal__bottom__menu {
    padding: 0;
    }
   
  .principal__bottom__menu--list{
    display: inline;
    /* 
    *Esto es para quitar el punto de las listas y que en vez de poner
    *los nombres en vertical los ponga en horizotal
    */
    }

  .principal__bottom__menu--button{
      font-family: Arial;
      font-size: 16px;
      text-decoration: none;
      float: left;
      padding: 10px;
      color: #fff;
      /*
      *Boton del menu, sin decoracion, letra de color blanco,
      * a la izquierda, con un margen de 10px
      */
      }

/*------------------------------------*\
    END MENU
\*------------------------------------*/

/*------------------------------------*\
    $HEADER, LOGO AND COMPANY NAME
\*------------------------------------*/

.principal{
  display: flex;
  flex-direction: column;
}
.principal, .footer{
  background-color: black;
}

.principal__company__logo{
    width: 70px;
    height: 70px;
    margin-right: 20px;
    margin-left:49%;
}

.principal__company{
  display:flex;
  flex-direction: row;
  margin-top: 10px;
  /*
  *Este flex es para que el <img> y el <h1> esten en la misma linea
  */
}

.principal__company__companyName{
    color: white;
    text-align: center;
    color:red;
}

.principal__bottom{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  /*
  *Con este flex creamos dos cuadros uno para los botones del menu
  * y otro para el boton de los idiomas
  * con el justify-content, hacemos que esten unos a la derecha y los otros a la izquierda
  */
}

.principal__bottom__languaje--button{
  margin-right: 20px;
}

.principal__bottom__languaje--img{
  height: 30px;
  width: 30px;
}

/*------------------------------------*\
    END HEADER
\*------------------------------------*/

/*------------------------------------*\
    $CONTENT
\*------------------------------------*/

.body__content{
  display: flex;
  justify-content: center;
  align-items: center;
}

.body__content--unique{
  text-align: center;
}

.body__content__box--primero{
  text-align: center;
  float:left;
  padding: 1em;
  margin: 1em;
}

.body__content__box--segundo{
  text-align: center;
  float:right;
  padding: 1em;
  margin: 1em;
}

.body__content__box--tercero{
  text-align: center;
  float:center;
  padding: 1em;
  margin: 1em;
}

.body__text{
  font-size:x-small;
}

/*------------------------------------*\
   END CONTENT
\*------------------------------------*/

/*------------------------------------*\
    $CONTACT_FORM
\*------------------------------------*/

.contact_form{
  /*
  * Estilo de lso formularios
  */
	border: 1px solid #CED5D7;
	border-radius: 6px;
	padding: 45px 45px 20px;
	margin-top: 50px;
	background-color: white;
	box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
}

.contact_form__name, .contact_form__email, .contact_form__textarea{
  /*
  *Estilo de los inputs
  */
	padding: 7px 6px;
	width: 294px;
	border: 1px solid #CED5D7;
	resize: none;
	margin: 5px 0;
}
.contact_form__name:focus, .contact_form__email:focus, .contact_form__textarea:focus{
  /*
  * Estilo de los inputs, cuando tienen el focus encima
  */
	background-color: aquamarine;
}

.contact_form__submit{
  /*
  * Estilo del boton del formulario
  */
	border: 1px solid #CED5D7;
	box-shadow:0 0 0 3px #EEF5F7;
	padding: 8px 16px;
	border-radius: 20px;
	font-weight: bold;
	text-shadow: 1px 1px 0px white;
}

/*------------------------------------*\
    END CONTACT_FORM
\*------------------------------------*/

/*------------------------------------*\
    $FOOTER
\*------------------------------------*/

.footer__social{
  margin-left:50px;
}

.footer__social__title{
  color:white;
}

.footer__social__button--fb, .footer__social__button--tw{
  width: 48px;
  height: 48px;
}

.footer__social__button--fb{
  margin-left: 30px;
}

.footer__social__button--tw{
  margin-left: 20px;
}

.footer__texts{
  margin-left:800px;
  color:white;
}

.footer__texts__links{
  color:white;
}

.footer__texts__links:hover{
  color:red;
}

/*------------------------------------*\
    END FOOTER
\*------------------------------------*/

/*------------------------------------*\
    $SPECIAL
\*------------------------------------*/


/* WE NEED THIS TO SHOW MAP */

.map{
  width: 500px;
  height: 400px;
}

/*------------------------------------*\
    END SPECIAL
\*------------------------------------*/

/*------------------------------------*\
    $HOME
\*------------------------------------*/

.box{
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid black;
  width: 300px;
  text-align: center;
  display: inline-block;
  border-radius: 30px 30px 30px 30px;
  /*
  *Creamos la caja de las tarifas, dentro estara la seccion
  * del titulo, las subtarifas, precio y el boton de ver más
  */
}
.boxes{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  /*
  * Contenedor de las tarifas
  */
}
.box__title{
  border-radius: 30px 30px 0px 0px;
  /*
  *Con esto conseguimos darle forma redondeada a las esquinas,
  *como es la parte de arriba solos nos interesa la superior derecha
  * y la superior izquierda, las otras las dejamos igual
  */ 
  border: 1px solid black;
  background-color: red;
  color:white;
}
.box__option{
  border: 1px solid black;
  height: 250px;
}
.box__button{
  padding-top: 10px;
  padding-bottom: 10px;
}

.box + .box{
  margin-left: 20px;
  /*
  * Para que haya cierta distancia entre una caja y otra
  */
}

/*------------------------------------*\
    END HOME
\*------------------------------------*/

/*------------------------------------*\
    $CATALOGUE
\*------------------------------------*/

.catalogue{
  display: flex;
  flex-direction: column;
}
.catalogue__container{
  display:flex;
  flex-direction: row;
  padding: 20px;
}
.catalgue__container__product--img{
  width: 300px;
  height: 400px;
}
.catalogue__container__product--details{
  display:flex;
  flex-direction: column;
  justify-content: center;
}

/*------------------------------------*\
    END CATALOGUE
\*------------------------------------*/

/*------------------------------------*\
    $CAROUSEL
\*------------------------------------*/

/* Carousel Style */

/* Slideshow container */
.slidershow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.slidershow__circles{
  text-align:center;
}

/*------------------------------------*\
    END CAROUSEL
\*------------------------------------*/